<!DOCTYPE html>
<html>

<?php $this->partial('partial/header'); ?>

<?php $this->assets->outputCss(); ?>
<?php $this->assets->outputJs(); ?>

<?php
$acl        = \Phalcon\DI::getDefault()->get('useracl');
$auth_user  = $this->session->get('fyf-auth');
?>

<body>
  <div id="container">
    <?php $this->partial('partial/top_nav'); ?>

    <div id="page">
      <?php if (\Phalcon\DI::getDefault()->get('useracl')->isAuthenticated($this->session->get('fyf-auth'))) { ?>
        <?php $this->partial('partial/left_nav'); ?>
      <?php } ?>

      <div id="page-content">
        <?php $this->flashSession->output(); ?>

        <?= $this->getContent(); ?>
      </div>
    </div>
  </div>

  <?php $this->partial('partial/footer'); ?>
</body>

</html>
