<h2>Manage picture.</h2>

<?php if (!empty($image)) { ?>
<div>
  <form action="/pictures/manage/<?= $image->id ?>" method="post" enctype="multipart/form-data">
    <div class="upload_form">
      <div class="upload_text">
        <img src="<?= str_replace("/var/www/source/public", "", $image->thumbnail_path) ?>" width="200" height="200" alt="<?= $image->visible_name ?>" />
      </div>
    </div>

    <br /><br />

    <div class="upload_form">
      <div class="upload_text">
        <label for="visible_name">Name: </label>
        <input type="text" name="visible_name" id="visible_name" value="<?= $image->visible_name ?>" required />
      </div>
    </div>

    <div id="image-actions">
      <input type="hidden" name="id" id="id" value="<?= $image->id ?>" />
      <button class="btn btn-success m-t-20" type="submit">Manage Picture</button>
    </div>
  </form>
</div>
<?php } ?>
