<h2>Upload picture.</h2>

<div>
  <form action="/pictures/upload" method="post" enctype="multipart/form-data">
    <div class="upload_form">
      <div class="upload_picture">
        <label for="picture">File: </label>
        <input type="file" name="picture" id="picture" accept=".png, .gif, .jpg" required />
      </div>
    </div>

    <br />

    <div class="upload_form">
      <div class="upload_text">
        <label for="visible_name">Name: </label>
        <input type="text" name="visible_name" id="visible_name" required />
      </div>
    </div>

    <div id="image-actions">
      <input type="hidden" name="user_id" id="user_id" value="<?= $user_id ?>" />
      <button class="btn btn-success m-t-20" type="submit">Upload Picture</button>
    </div>
  </form>
</div>
