<?php if (!empty($image)) { ?>
<h2>Viewing "<?= $image->visible_name ?>" by <?= \Users::getUserNameById($image->user_id); ?>.</h2>

<div>
  <img src="<?= str_replace("/var/www/source/public", "", $image->internal_path) ?>" width="<?= $meta['width'] ?>" height="<?= $meta['height'] ?>" alt="<?= $image->visible_name ?>" />
  
  <br /><br />

  <?php foreach ($comments as $c) { ?>
    <br /><br />
    <div class="comment_text">
      <p><?= $c->comment ?></p>
      <br /> &mdash; <?= \Users::getUserNameById($c->user_id); ?>
      <br /> <small><?= date('Y-m-d H:i:s', $c->created); ?></small>
      <?php if (in_array($user_id, [$c->user_id, $image->user_id])) { ?>
      <br /> <small><a href="/pictures/deleteComment/<?= $c->id ?>">Delete</a></small>
      <?php } ?>
    </div>
  <?php } ?>

  <br /><br />

  <form action="/pictures/makeComment/<?= $image->id ?>" method="post">
    <h3>Leave a comment!</h3>

    <div class="comment_form">
      <label for="comment">Comment</label>
      <textarea name="comment" id="comment" required ></textarea>
    </div>

    <div id="image-actions">
      <input type="hidden" name="image_id" id="image_id" value="<?= $image->id ?>" />
      <input type="hidden" name="user_id" id="user_id" value="<?= $user_id ?>" />
      <button class="btn btn-success m-t-20" type="submit">Leave comment</button>
    </div>
  </form>
</div>
<?php } else {?>
<h2> NO IMAGE TO LOAD </h2>
<?php }?>
