<h2>View pictures.</h2>

<?php if (!empty($images)) { ?>
<div>
  <div class="picture-list">

    <div class="picture-body">
      <table class="table table-striped" id="picture_list">
        <thead>
          <tr>
            <th class="text-center">Picture</th>
            <th class="text-left">Name</th>
            <th class="text-left">Created</th>
          </tr>
        </thead>
  
        <tbody>
          <?php foreach ($images as $i) { ?>
          <tr>
            <td class="text-center">
              <a href="/pictures/viewFullSize/<?= $i->id ?>" title="<?= $i->visible_name ?>">
                <img src="<?= str_replace("/var/www/source/public", "", $i->thumbnail_path) ?>" width="200" height="200" alt="<?= $i->visible_name ?>" />
              </a>
            </td>

            <td class="text-left"><?= $i->visible_name ?></td>
            <td class="text-left"><?= date("Y-m-d H:i:s", $i->created) ?></td>
          </tr>
          <?php } ?>
        </tbody>
      </table>
    </div>

  </div>
</div>
<?php } else { ?>
  <strong>There are no images to display.</strong>
<?php } ?>
