<div class="page-header">
    <h1>Image Uploader</h1>
</div>


<?php if (\Phalcon\DI::getDefault()->get('useracl')->isAuthenticated($this->session->get('fyf-auth'))) { ?>
<p>Welcome to Image Uploader. Use the nav links above to upload, view, or comment on images.</p>
<?php } else { ?>
<p>Welcome to Image Uploader. <a href="/users/login">Login</a> to continue.</p>
<p><a href="/users/addUser">Register</a> here.</p>
<?php } ?>

<div class="fyf-home">
  <img src="/images/fyf.png" width="400" height="400" alt="Image Uploader" />
</div>
