<?php
  $acl        = \Phalcon\DI::getDefault()->get('useracl');
  $auth_user  = $this->session->get('fyf-auth');
?>

<?php if ($acl->isAllowed($auth_user, ['ImageUser' => [$acl->acl['ImageUser']]])) { ?>
<strong>View Pictures</strong>
<ul>
  <li>
    <a href="/pictures/viewAll">
      View pictures
    </a>
  </li>
</ul>
<?php } ?>
<?php if ($acl->isAllowed($auth_user, ['ImageUser' => [$acl->acl['ImageUser']]])) { ?>
<strong>Picture Management</strong>
<ul>
  <li>
    <a href="/pictures/manageOwn">
      Manage pictures
    </a>
  </li>
  <li>
    <a href="/pictures/upload">
      Upload a picture
    </a>
  </li>
</ul>
<?php } ?>

