<?php
  $acl        = \Phalcon\DI::getDefault()->get('useracl');
  $auth_user  = $this->session->get('fyf-auth');
?>

<?php if ($acl->isAllowed($auth_user, ['Users' => [10 => $acl->acl['Users'][10]]], TRUE)) { ?>
<strong>User Management</strong>
<ul>
  <li>
    <a href="/users/addUser">
      Add a User
    </a>
  </li>
  <li>
    <a href="/users/listAll">
      List All Users
    </a>
  </li>
</ul>
<?php } ?>


<?php if ($acl->isAllowed($auth_user, ['Users' => [40 => $acl->acl['Users'][40]]], TRUE)) { ?>
<strong>Roles</strong>
<ul>
  <li>
    <a href="/userroles/addRole">
      Add a Role
    </a>
  </li>
  <li>
    <a href="/userroles/listAll">
      List All Roles
    </a>
  </li>
</ul>
<?php } ?>


<?php if ($acl->isAllowed($auth_user, ['Users' => [80 => $acl->acl['Users'][80]]], TRUE)) { ?>
<strong>User Permissions</strong>
<ul>
  <li>
    <a href="/userpermissions/listAll">
      List All Permissions
    </a>
  </li>
</ul>
<?php } ?>


<?php if ($acl->isAllowed($auth_user, ['Users' => [1000 => $acl->acl['Users'][1000]]], TRUE)) { ?>
<strong>User Logins</strong>
<ul>
  <li>
    <a href="/userlogins/listAll">
      List All Logins
    </a>
  </li>
</ul>
<?php } ?>
