<?php
  $acl        = \Phalcon\DI::getDefault()->get('useracl');
  $auth_user  = $this->session->get('fyf-auth');
?>

<?php if ($acl->isAllowed($auth_user, ['Watchdog' => [$acl->acl['Watchdog']]])) { ?>
  <strong>Watchdog</strong>
  <ul>
    <li>
      <a href="/watchdog/listAll">
        List All Logs
      </a>
    </li>
  </ul>


  <strong>Levels</strong>
  <ul>
    <?php foreach(Watchdog::getLevels() as $k => $v) { ?>
    <li>
      <a href="/watchdog/viewLogLevel/<?=$k?>">
        List All "<?=$v?>" Logs
      </a>
    </li>
    <?php } ?>
  </ul>


  <strong>Types</strong>
  <ul>
    <?php foreach(Watchdog::getTypes() as $k => $v) { ?>
    <li>
      <a href="/watchdog/viewLogType/<?=$k?>">
        List All "<?=$v?>" Logs
      </a>
    </li>
    <?php } ?>
  </ul>


  <strong>Data Source Logs</strong>
  <ul>
    <li>
      <a href="/watchdog/viewDataSourceLogs">
        View Data Source Logs
      </a>
    </li>
  </ul>
<?php } ?>
