<div id="container-log">
<h2>Log created "<?= date('m-d-Y H:i:s', $log->created) ?>"</h2>

  <div class="log-list">
    <div class="log-body">
      <table class="table table-striped" id="log_info">  
        <tbody>
          <tr>
            <th class="text">ID</th>
            <td class="text"><?= $log->id ?></td>
          </tr>
          <tr>
            <th class="text">Type</th>
            <td class="text"><?= Watchdog::getTypes()[$log->log_type] ?></td>
          </tr>
          <tr class="<?= Watchdog::getLevels()[$log->log_level] ?>">
            <th class="text">Level</th>
            <td class="text"><?= Watchdog::getLevels()[$log->log_level] ?></td>
          </tr>
          <tr>
            <th class="text">Message</th>
            <td class="text"><?= $log->log_message ?></td>
          </tr>
          <tr>
            <th class="text">User</th>
            <td class="text"><?= $log->log_user ?></td>
          </tr>
          <tr>
            <th class="text">URI</th>
            <td class="text"><?= $log->log_uri ?></td>
          </tr>
          <tr>
            <th class="text">Created</th>
            <td class="text"><?= date('m-d-Y H:i:s', $log->created) ?></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
