<div id="container-auth">
  <h2>All Logs with type "<?= $type ?>"</h2>

  <div class="log-list">
    <div class="log-body">
      <a href="/watchdog/viewLogType/<?= $typeId ?>/">First</a>&nbsp;|&nbsp;
      <a href="/watchdog/viewLogType/<?= $typeId ?>/?page=<?= $logs->before ?>">&lt;&lt;</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/watchdog/viewLogType/<?= $typeId ?>/?page=<?= $logs->next ?>">&gt;&gt;</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/watchdog/viewLogType/<?= $typeId ?>/?page=<?= $logs->last ?>">Last</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <small><?php echo('Page ' . $logs->current . ' of ' . $logs->total_pages); ?></small>
      <br /><br />
    </div>


    <div class="log-body">
      <table class="table table-striped" id="log_list">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Type</th>
            <th class="text-center">Level</th>
            <th class="text-center">URI</th>
            <th class="text-center">Created</th>
          </tr>
        </thead>
  
        <tbody>
          <?php foreach ($logs->items as $l) { ?>
          <tr>
            <td class="text-center"><a href="/watchdog/viewLog/<?= $l->id ?>">Log #<?= $l->id ?></a></td>
            <td class="text-center">
              <?= Watchdog::getTypes()[$l->log_type] ?>
            </td>
            <td class="text-center">
              <?= Watchdog::getLevels()[$l->log_level] ?>
            </td>
            <td class="text-center"><?= substr($l->log_uri, 0, 25) ?></td>
            <td class="text-center"><?= date('m-d-Y H:i:s', $l->created) ?></td>
          </tr>
          <?php } ?>
        </tbody>
      </table>
    </div>


    <div class="log-body">
      <br /><br />
      <a href="/watchdog/viewLogType/<?= $typeId ?>/">First</a>&nbsp;|&nbsp;
      <a href="/watchdog/viewLogType/<?= $typeId ?>/?page=<?= $logs->before ?>">&lt;&lt;</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/watchdog/viewLogType/<?= $typeId ?>/?page=<?= $logs->next ?>">&gt;&gt;</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/watchdog/viewLogType/<?= $typeId ?>/?page=<?= $logs->last ?>">Last</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <small><?php echo('Page ' . $logs->current . ' of ' . $logs->total_pages); ?></small>
    </div>
  </div>
</div>
