<h2>Edit Role "<?= $role->role_name ?>".</h2>

<div>
  <form action="/userroles/postRole" method="post">
    <div class="role_form">
      <div class="role_name">
        <label for="role_name">Name</label>
        <input name="role_name" id="role_name" type="text" placeholder="Manager" value="<?= $role->role_name ?>" autofocus required />
      </div>

      <div class="role_prefix">
        <h4 for="permissions">Permissions</h4>
        <?php foreach ($acl->acl as $group => $perms) { ?>
          <?php if (in_array($group, ['Admin, Api'])) { continue; } ?>
          <div id="acl_<?= $group ?>" class="acl_group">
            <div class="group_name"><?= $group ?></div>
            <div class="group_check_list">
              <?php foreach ($perms as $id => $p) { ?>
                <div class="group_item">
                  <label><input type="checkbox" name="permissions[<?= $group ?>][<?= $id ?>]" 
                    <?= ($acl->isPermissionAssigned($role->permissions, $group, $id)) ? 'CHECKED' : '' ; ?> /><?= $p ?></label>
                </div>
              <?php } ?>
            </div>
          </div>
        <?php } ?>
      </div>
    </div>

    <div id="auth-actions">
      <input name="id" id="id" type="hidden" value="<?= $role->id ?>" />
      <button class="btn btn-success m-t-20" type="submit">Add role</button>
    </div>
  </form>
</div>
