<div id="container-auth">
  <h2>Roles</h2>

  <div class="user-list">
    <div class="user-body">
      <form action="/userroles/postAllRoles" method="post">
        <table class="table table-striped" id="role_list">
          <thead>
            <tr>
              <th class="text-left" width="8%">Delete</th>
              <th class="text-left" width="15%">User Role</th>
              <th class="text-left" width="77%">Permissions</th>
            </tr>
          </thead>
    
          <tbody>
            <?php foreach ($roles as $r) { ?>
            <tr>
              <td class="text-left">
                <?php if (!in_array($r->id, [1, 2, 16])) { ?>
                  <input type="checkbox" name="delete[<?= $r->id ?>]" <?= (in_array('x', [])) ? 'CHECKED' : '' ; ?> />
                <?php } else { ?>
                  &nbsp;
                <?php } ?>
              </td>
              <td class="text-left"><a href="/userroles/editRole/<?= $r->id ?>"><?= $r->role_name ?></a></td>
              <td class="text-left">
                <?php if ($r->id == 1) { ?>
                  <div id="acl_admin" class="acl_group">
                    <div class="group_name">Admin</div>
                    <div class="group_check_list">
                      <div class="group_item">
                        <label><input type="checkbox" name="acl[<?= $r->id ?>][Admin][1]" 
                        <?= ($acl->isAdmin($this->session->get('fyf-auth'))) ? 'CHECKED' : '' ; ?> DISABLED />all</label>
                      </div>
                    </div>
                  </div>
                <?php } else if ($r->id == 2) { ?>
                  <div id="acl_admin" class="acl_group">
                    <div class="group_name">Api</div>
                    <div class="group_check_list">
                      <div class="group_item">
                        <label><input type="checkbox" name="acl[<?= $r->id ?>][Api][5]" 
                        <?= ($acl->isPermissionAssigned($r->permissions, 'Api', '5')) ? 'CHECKED' : '' ; ?> DISABLED />all_api</label>
                      </div>

                      <div class="group_item">
                        <label><input type="checkbox" name="acl[<?= $r->id ?>][Api][50]" 
                        <?= ($acl->isPermissionAssigned($r->permissions, 'Api', '50')) ? 'CHECKED' : '' ; ?> DISABLED />file_api</label>
                      </div>
                    </div>
                  </div>
                <?php } else if ($r->id == 16) { ?>
                  <div id="acl_admin" class="acl_group">
                    <div class="group_name">File Api</div>
                    <div class="group_check_list">
                      <div class="group_item">
                        <label><input type="checkbox" name="acl[<?= $r->id ?>][Api][50]" 
                        <?= ($acl->isPermissionAssigned($r->permissions, 'Api', '50')) ? 'CHECKED' : '' ; ?> DISABLED />file_api</label>
                      </div>
                    </div>
                  </div>
                <?php } else { ?>
                  <?php foreach ($acl->acl as $group => $perms) { ?>
                    <?php if (in_array($group, ['Admin', 'Api'])) { continue; } ?>
                    <div id="acl_<?= $group ?>" class="acl_group">
                      <div class="group_name"><?= $group ?></div>
                      <div class="group_check_list">
                        <?php foreach ($perms as $id => $p) { ?>
                          <div class="group_item">
                            <label><input type="checkbox" name="acl[<?= $r->id ?>][<?= $group ?>][<?= $id ?>]" 
                              <?= ($acl->isPermissionAssigned($r->permissions, $group, $id)) ? 'CHECKED' : '' ; ?> /><?= $p ?></label>
                          </div>
                        <?php } ?>
                      </div>
                    </div>
                  <?php } ?>
                <?php } ?>
                <br /><br />
              </td>
            </tr>
            <?php } ?>
          </tbody>
        </table>

        <div id="auth-actions">
          <button class="btn btn-success m-t-20" type="submit">Save roles</button>
        </div>
        
      </form>
    </div>
  </div>
</div>
