<div id="container-auth">
  <h2>User Logins</h2>

  <div class="user-list">
    <div class="user-body">
      <table class="table table-striped" id="user_login_list">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">User</th>
            <th class="text-center">Status</th>
            <th class="text-center">Created</th>
          </tr>
        </thead>
  
        <tbody>
          <?php foreach ($users as $u) { ?>
          <tr>
            <td class="text-center"><?= $u->id ?></td>
            <td class="text-center"><?= $u->user_name ?></td>
            <td class="text-center"><?= $u->status ?></td>
            <td class="text-center"><?= date('m-d-Y H:i:s', $u->created) ?></td>
          </tr>
          <?php } ?>
        </tbody>
      </table>
    </div>
  </div>
</div>
