.limiters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.limiter-entries {
  width: 25%;
}

.limiter-entries select {
  height: 35px;
  width: 60px !important;
}

.limiter-search {
  width: 20%;
}

.limiter-search input {
  font-weight: normal;
  height: 35px;
  width: 150px !important;
}
