.acl_group {
  display: flex;
  margin: 0px 0px 10px 0px;
  max-width: inherit;
}

.acl_group .group_name {
  width: 15%;
  font-weight: bold;
  padding-top: 7px;
  border-bottom: 1px solid #FF9966;
  border-right: 1px solid #FF9966;
}

.acl_group .group_check_list {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

.acl_group .group_item {
  width: 160px;
  padding: 7px 0px 7px 15px;
  border-bottom: 1px solid #FF9966;
}

.acl_group .group_check_list LABEL {
  font-weight: normal;
  width: inherit !important;
  padding: 0px !important;
}

.acl_group .role_check_list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  width: 185px;
  max-width: 185px;
  border-bottom: 1px solid #FF9966;
  border-right: 1px solid #FF9966;
}

.acl_group .role_check_list LABEL {
  font-weight: normal;
  margin-bottom: 5px;
  width: inherit !important;
  padding: 0px !important;
}
