<div class="pagelist-body">
  <div class="pagelist-info">
    Showing
    <?= ($paged_data->current == 1) ? '1' : $paged_data->previous * $paged_data->limit + 1 ?>
    to
    <?php
    if ($paged_data->total_items > 0) {
      $paged_limit = $paged_data->current * $paged_data->limit;
      echo ($paged_limit > $paged_data->total_items) ? $paged_data->total_items : $paged_limit ;

    } else {
      echo '0';
    }
    ?>
    of
    <?= $paged_data->total_items ?>
    entries
  </div>

  <div class="pagelist-links">
    <span class="fake_link" onclick="changeUrlByData(this, '', 'searchform')" data-key="page" data-value="">First</span>&nbsp;|&nbsp;
    <span class="fake_link" onclick="changeUrlByData(this, '', 'searchform')" data-key="page" data-value="<?= $paged_data->before ?>">&lt;&lt;</span>&nbsp;&nbsp;|&nbsp;&nbsp;
    <span class="fake_link" onclick="changeUrlByData(this, '', 'searchform')" data-key="page" data-value="<?= $paged_data->next ?>">&gt;&gt;</span>&nbsp;&nbsp;|&nbsp;&nbsp;
    <span class="fake_link" onclick="changeUrlByData(this, '', 'searchform')" data-key="page" data-value="<?= $paged_data->last ?>">Last</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <small><?php echo('Page ' . $paged_data->current . ' of ' . $paged_data->total_pages); ?></small>
    <br /><br />
  </div>
</div>
