<form class="search" id="searchform" action="<?= $_SERVER['REQUEST_URI'] ?>" method="post">
  <div class="limiters">
    <div class="limiter-entries">
      Show&nbsp;
      <select name="entries" id="entries" onchange="changeUrl(this, 'searchform');" >
        <option value="10"  <?= ($entries == '10')  ? 'SELECTED' : '' ?>>10</option>
        <option value="25"  <?= ($entries == '25')  ? 'SELECTED' : '' ?>>25</option>
        <option value="50"  <?= ($entries == '50')  ? 'SELECTED' : '' ?>>50</option>
        <option value="100" <?= ($entries == '100') ? 'SELECTED' : '' ?>>100</option>
      </select>
      &nbsp;entries
    </div>

    <div class="limiter-search">
      <label for="search">
        Search: 
      <input type="text" name="search" id="search" <?= (!empty($search)) ? 'autofocus' : '' ?> value="<?= $search ?>" align="right" />
      </label>
    </div>
  </div>
</form>
