<div id="top-nav">
  <?php
    $acl        = \Phalcon\DI::getDefault()->get('useracl');
    $auth_user  = $this->session->get('fyf-auth');
  ?>

  <ul>
    <li class="fyf-home">
      <a href="/">
        Home
      </a>
    </li>

    <?php if ($acl->isAuthenticated($auth_user)) { ?>
      <?php if ($acl->isAllowed($auth_user, ['ImageUser' => [$acl->acl['ImageUser']]])) { ?>
      <li>
      <a href="/pictures/viewAll">
          Pictures
        </a>
      </li>
      
      <?php } ?>

      <?php if ($acl->isManager($auth_user)) { ?>
      <li>
        <a href="/users">
          Users
        </a>
      </li>
      <?php } ?>


      <?php if ($acl->isAllowed($auth_user, ['Watchdog' => [$acl->acl['Watchdog']]])) { ?>
      <li>
        <a href="/watchdog">
          Watchdog
        </a>
      </li>
      <?php } ?>
    <?php } ?> 

  </ul>

  <div id="login_link">
    <?php if (!$acl->isAuthenticated($auth_user)) { ?>
      <a href="/users/login">Login</a>
      <br />
      <a href="/users/addUser">Register</a>
    <?php } else { ?>
      <a href="/users/editUser/<?= $auth_user['id'] ?>">Edit User</a>
      <br />
      <a href="/users/logout">Logout</a>
    <?php } ?>
  </div>
</div>

