<div id="container-auth">
  <h2>User Permissions</h2>

  <div class="user-list">
    <div class="user-body">
      <form action="/userpermissions/postAllPermissions" method="post">
        <table class="table table-striped" id="role_list">
          <thead>
            <tr>
              <th class="text-left" width="20%">User</th>
              <th class="text-left" width="80%">Group(s)</th>
            </tr>
          </thead>
    
          <tbody>
            <?php foreach ($users as $u) { ?>
              <?php $uperm = \UserPermissions::getPermissions($u->id); ?>
              <tr>
                <td class="text-left">
                  <a href="/users/editUser/<?= $u->id ?>"><?= $u->user_name ?></a>
                </td>
                <td class="text-left">
                  <div class="acl_group">
                    <div class="group_check_list">
                      <?php if (in_array($u->id, [1, 2, 3])) { ?>
                        <div class="role_check_list">
                          <label><input type="checkbox" name="user_role_id[1][1]" 
                            <?= ($acl->isAdmin($this->session->get('fyf-auth'))) ? 'CHECKED' : '' ; ?> DISABLED />Admin</label>
                        </div>
                      <?php } else { ?>
                        <?php foreach ($roles as $r) { ?>
                          <div class="role_check_list">
                            <label><input type="checkbox" name="user_role_id[<?= $u->id ?>][<?= $r->id ?>]"
                              <?= ($acl->isGroupAssigned(\UserPermissions::getPermissions($u->id), $r->id)) ? 'CHECKED' : '' ?> /><?= $r->role_name ?></label>
                            <?php unset($uperm[$r->id]); ?>
                          </div>
                        <?php } ?>
                        
                        <?php if (!empty($uperm)) { ?>
                          <?php foreach ($uperm as $r => $s) { ?>
                            <div class="role_check_list hidden">
                              <input type="checkbox" name="user_role_id[<?= $u->id ?>][<?= $r ?>]"
                                <?= ($acl->isGroupAssigned(\UserPermissions::getPermissions($u->id), $r)) ? 'CHECKED' : '' ?> /></label>
                            </div>
                          <?php } ?>
                        <?php } ?>
                      <?php } ?>
                    </div>
                  </div>
                </td>
              </tr>
            <?php } ?>
          </tbody>
        </table>

        <div id="auth-actions">
          <button class="btn btn-success m-t-20" type="submit">Save permissions</button>
        </div>
        
      </form>
    </div>
  </div>
</div>
