<h2 class="<?= (!\Phalcon\DI::getDefault()->get('useracl')->isAuthenticated($this->session->get('fyf-auth'))) ? 'login_header' : '' ?>">Register to use DAP.</h2>

<div class="<?= (!\Phalcon\DI::getDefault()->get('useracl')->isAuthenticated($this->session->get('fyf-auth'))) ? 'login_body' : '' ?>">
  <form action="/users/postUser" method="post">
    <div class="user_form">
      <div class="user_name">
        <label for="user_name">Name</label>
        <input name="user_name" id="user_name" type="text" placeholder="user@test.com" value="" autofocus required />
      </div>

      <div class="user_prefix">
        <label for="user_password">Password</label>
        <input name="user_password" id="user_password" type="text" value="<?= $pass ?>" required />
      </div>
    </div>

    <div id="auth-actions">
      <button class="btn btn-success m-t-20" type="submit">Register</button>
    </div>
  </form>
</div>
