<h2>Update user.</h2>

<div>
<form action="/users/postUser/<?= $user->id ?>" method="post">
    <div class="user_form">
      <div class="user_name">
        <label for="user_name">Name</label>
        <input name="user_name" id="user_name" type="text" placeholder="user@test.com" value="<?= (!empty($user)) ? $user->user_name : '' ?>" autofocus required />
      </div>

      <div class="user_prefix">
        <label for="user_password">Password</label>
        <input name="user_password" id="user_password" type="text" value="" />
      </div>

      <?php if (!empty($roles)) { ?>
      <br /><br />
      <div class="acl_group">
        <div class="group_check_list">
          <?php foreach ($roles as $r) { ?>
          <div class="role_check_list">
            <label><input type="checkbox" name="user_role_id[<?= $user->id ?>][<?= $r->id ?>]"
              <?= ($acl->isGroupAssigned(\UserPermissions::getPermissions($user->id), $r->id)) ? 'CHECKED' : '' ?> /><?= $r->role_name ?></label>
          </div>
          <?php } ?>
        </div>
      </div>
      <?php } ?>
    </div>

    <div id="auth-actions">
      <button class="btn btn-success m-t-20" type="submit">Update</button>
    </div>
  </form>
</div>
