<h2>Email list.</h2>

<div>
  <form action="/users/exportEmailList/" method="post">
    <?php if (empty($roles)) { ?>
      <p>No roles to filter</p>
    <?php } else { ?>
      <div>
      <select class="multiple-select" name="roles[]" id="roles" required multiple size="10">
        <?php foreach ($roles as $r) { ?>
          <option value="<?= $r->id ?>" <?= (!empty($selected_roles) AND in_array($r->id, $selected_roles)) ? 'SELECTED' : '' ?>><?= $r->role_name ?></option>
        <?php } ?>
      </select>
      </div>
      <br />

      <div id="report_form-actions">
        <button class="btn btn-left btn-success m-t-20" type="submit">Filter users</button>
      </div>
    <?php } ?>

    <?php if (empty($users)) { ?>
      <p>No users to export</p>

    <?php } else { ?>
      <div> <?php echo $users ?> </div>
    <?php } ?>


  </form>
</div>
