<?php
  $acl        = \Phalcon\DI::getDefault()->get('useracl');
  $auth_user  = $this->session->get('fyf-auth');
?>

<div id="container-auth">
  <h2>User Management</h2>

  <div class="user-list">
    <div class="user-body">
      <table class="table table-striped" id="user_list">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">User</th>
            <th class="text-center">Created</th>

            <?php if ($acl->isManager($auth_user)) { ?>
            <th class="text-center">Deleted</th>
            <?php } ?>
          </tr>
        </thead>
  
        <tbody>
          <?php foreach ($users as $u) { ?>
          <tr>
            <td class="text-center"><?= $u->id ?></td>
            <td class="text-center"><a href="/users/editUser/<?= $u->id ?>"><?= $u->user_name ?></a></td>
            <td class="text-center"><?= date('m-d-Y H:i:s', $u->created) ?></td>

            <?php if ($acl->isManager($auth_user)) { ?>
            <td class="text-center">
              <?php if (!in_array($u->id, [1, 4])) { ?>
                <?php if ($u->deleted) { ?>
                  <?= date('m-d-Y H:i:s', $u->deleted) ?>
                <?php } else { ?>
                  <a href="/users/deleteUser/<?= $u->id ?>">Delete</a>
                <?php } ?>
              <?php } else { ?>
                &nbsp;
              <?php } ?>
            </td>
            <?php } ?>
          </tr>
          <?php } ?>
        </tbody>
      </table>
    </div>
  </div>
</div>
