<h2 class="login_header">OCR-DAP Login.</h2>

<div class="login_body">
  <form action="/users/processLogin" method="post">
    <div>
      <label for="username">User</label>
      <input name="user_name" id="user_name" type="text" placeholder="user@test.com" value="" autofocus required />
    </div>

    <div>
      <label for="password">Password</label>
      <input name="user_password" id="user_password" type="password" placeholder="password" value="" required />
    </div>

    <div id="login-actions">
      <button class="btn btn-success m-t-20" type="submit">Login</button>
    </div>
  </form>
</div>
